.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;

    .demo {
        padding-top: 40px;
        width: 1024px;
        height: 615px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        font-size: 60px;
        font-family: Poppinslight, sans-serif;
        font-weight: 300;
    }
}


